.list-block.media-list a.cat-list-info {
    padding: 0.5rem 2%;
    border-bottom: 1px solid @border-da;
    -webkit-align-items: inherit;
    -webkit-box-align: start;
    .col-30 {
        img {
            display: block;
            width: 9rem;
        }
        padding: 0;
        width: 9rem;
        height: 9rem;
        overflow: hidden;
        -webkit-box-align: start;
        -webkit-align-items: start;
        .sell-list-imgs {
            display: inline-block;
            .ps-a;
            bottom: 0.5rem;
            left: 0.5rem;
            background: @bg-black-7;
            .text-shadow(@bg-black-7);
            color: @text-fff;
            height: 2rem;
            line-height: 2rem;
            padding: 0 0.8rem;
            border-radius: 1rem;
            font-size: 1.4rem;
        }
        span.check {
            display: block;
            overflow: hidden;
            .ps-a;
            width: 100%;
            height: 2.5rem;
            line-height: 2.5rem;
            padding: 0;
            top: 0;
            left: 0;
            background: @bg-auditing-4;
            .text-shadow(@bg-auditing-4);
            color: @text-fff;
            .text-center;
            font-size: 1.4rem;
            &:before {
                font-size: 2rem;
                vertical-align: middle;
            }
        }
    }
    .col-70 {
        vertical-align: middle;
        padding: 0;
        margin-left: 1rem;
        &:after {
            display: none;
        }
        .goods-weight,
        .goods-name,
        .goods-price,
        .goods-create-time,
        .cat-list-tags,
        .cat-list-address,
        .cat-list-title-auth span {
            .text-hidden;
        }
        .cat-list-text,
        .cat-list-title-auth,
        .cat-list-user-name {
            height: 2.1rem;
            line-height: 2.2rem;
            .text-hidden;
            vertical-align: middle;
            .text-hidden;
        }
        .cat-list-title {
            height: 2.7rem;
            line-height: 2.7rem;
            .text-hidden;
            vertical-align: middle;
        }
        .cat-list-title-auth {
            font-size: 1.2rem;
            span {
                display: inline-block;
                max-width: 60%;
                .text-hidden;
                overflow: hidden;
                background: @themeColor;
                height: 1.4rem;
                line-height: 1.4rem;
                margin-top: 0.4rem;
                border: 1px solid @themeColor;
                border-radius: 0.3rem;
                color: @text-fff;
                padding-left: 1.8rem;
                b,
                i {
                    display: block;
                }
                b {
                    width: 1.8rem;
                    .text-shadow(@themeColor);
                    vertical-align: middle;
                    .ps-a;
                    left: 0;
                    top: 1px;
                    height: 100%;
                    .text-center;
                }
                i {
                    background: @bg-fff;
                    color: @themeColor;
                    // border-radius:0 0.3rem 0.3rem 0;
                    font-style: normal;
                    width: 100%;
                    .text-hidden;
                    padding: 0 0.3rem;
                    box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                }
            }
            &>b {
                display: inline-block;
                float: right;
                border-radius: 0.3rem;
                // line-height: 1.5rem;
                background: @bg-v;
                color: @text-fff;
                padding: 0.2rem 0.5rem;
                .text-shadow(@bg-v);
                height: 1.5rem;
                line-height: 1.5rem;
            }
        }
        .cat-list-tags {
            color: @text-subtitle;
            p {
                margin: 0;
                height: 2rem;
                line-height: 2rem;
                .text-hidden;
                margin-bottom: 0.5rem;
                font-size: 1.4rem;
                &:first-child {
                    margin-top: 0.5rem;
                }
                span {
                    display: inline-block;
                    .text-center;
                    width: 2rem;
                    color: @text-fff;
                    margin-right: 0.5rem;
                    &.seedling,
                    &.cert {
                        background: @themeColor;
                        .text-shadow(@themeColor);
                    }
                    &.water {
                        background: @text-water;
                        .text-shadow(@text-water);
                    }
                    &.identity {
                        background: @text-chushou;
                        .text-shadow(@text-chushou);
                    }
                }
            }
        }
        .cat-list-user-name {
            span {
                display: inline-block;
                height: 2rem;
                line-height: 2rem;
                font-size: 1.4rem;
                color: @text-category;
                vertical-align: middle;
                b {
                    color: @themeColor;
                    padding-left: 0.3rem;
                    font-size: 1.8rem;
                    vertical-align: top;
                }
                &.user-release-time {
                    float: right;
                    padding-top: 0.1rem;
                }
            }
        }
        .goods-name {
            color: @text-name;
            font-size: 1.6rem;
            width: 58%;
            .text-hidden;
        }
        .goods-price {
            width: 40%;
            color: @text-price;
            font-size: 1.6rem;
            .text-right;
            .text-hidden;
        }
        .cat-list-text {
            color: @text-subtitle;
            font-size: 1.4rem;
            .text-hidden;
            .goods-create-time {
                .text-right;
                .text-hidden;
            }
        }
    }
}

a.buy-list-info {
    padding: 0.5rem 2%;
    display: block;
    border-bottom: 1px solid @border-da;
    vertical-align: middle;
    .hide {
        display: none;
    }
    .buy-name {
        color: @text-name;
        font-size: 1.6rem;
        .text-hidden;
        padding-bottom: 0.2rem;
        span {
            display: inline-block;
            margin-right: 0.3rem;
            height: 2rem;
            line-height: 2rem;
            border-radius: 1.2rem;
            background: @bg-auditing;
            .text-shadow(@bg-auditing);
            color: @text-fff;
            font-size: 1.4rem;
            vertical-align: top;
            padding: 0 0.6rem;
            &:before {
                color: @text-fff;
                font-size: 2.2rem;
                vertical-align: top;
            }
        }
    }
    .buy-price {
        color: @text-price;
        font-size: 1.6rem;
        .text-right;
        .text-hidden;
        padding-bottom: 0.2rem;
    }
    .buy-spec {
        color: @text-category;
        font-size: 1.4rem;
        .text-hidden;
        padding-bottom: 0.1rem;
    }
    .buy-time {
        color: @text-category;
        font-size: 1.4rem;
        .text-right;
        .text-hidden;
    }
    .buy-list-auth {
        padding: 0.2rem 0.5rem;
        background: @bg-v;
        .text-shadow(@bg-v);
        font-size: 1.2rem;
        border-radius: 0.3rem;
        height: 1.5rem;
        line-height: 1.5rem;
        color: @text-fff;
        display: inline-block;
        vertical-align: middle;
        margin-right: .4rem;
    }
    .buy-address {
        color: @text-category;
        .text-hidden;
        font-size: 1.4rem;
    }
    .home-buy-address {
        color: @text-category;
        font-size: 1.4rem;
        .text-hidden;
        span {
            vertical-align: middle;
            &:before {
                color: @text-level;
                font-size: 2rem;
                margin-right: 0.3rem;
                vertical-align: top;
            }
        }
    }
    .buy-list-describe{
        .text-hidden;
        margin-top: 0.5rem;
        padding: 1rem 0 0.5rem;
        border-top:1px solid @border-da;
        color: @text-category;
        font-size: 1.4rem;
        span{
            display: inline-block;
            padding: 0.2rem 0.5rem;
            margin-right: 0.3rem;
            background: @bg-discrb;
            .text-shadow(@bg-discrb);
            color: @themeColor;
            border-radius: 0.3rem;
            font-size: 1.2rem;
        }
    }
}

.list-check-status{
    line-height: 2.5rem;
    div{
        padding:0.5rem 2%;
        .text-right;
        .text-hidden;
        font-size: 1.4rem;
        .f-l{
            float: left;
            color: @themeColor;
            &:before{
                content: '.';
                color: @text-fff;
                vertical-align: middle;
                width: 0.6rem;
                height: 0.6rem;
                display: inline-block;
                border-radius: 0.3rem;
                background: @themeColor;
                margin-right: 0.3rem;
            }
            &.faild{
                color: @text-chushou;
                &:before{
                    background: @text-chushou;
                }
            }
            &.check{
                color: @text-water;
                &:before{
                    background: @text-water;
                }
            }
        }
        .refresh-btn, .sell-list-share{
            display: inline-block;
            padding: 0 1rem;
            height: 100%;
            border: 1px solid @themeColor;
            color: @themeColor;
            margin-left: 0.3rem;
            border-radius: 0.3rem;
            &.disabled{
                border-color: @text-subtitle;
                color: @text-subtitle;
            }
        }
    }
    p{
        height: 1rem;
        width: 100%;
        border-top:1px solid @border-da;
        background: @bg-body;
        margin: 0;
    }
}

/*鱼车需求列表*/
.driver-info {
    margin-bottom: 1rem;
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(194,194,194,0.50);
    border-radius: 0.2rem;
    overflow: hidden;
    display: block;
    .driver {
        border-bottom: 1px solid #E7E7E7;
        padding: 1rem 1rem 1rem 1.5rem;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        .avatar {
            height: 3.6rem;
            border-radius: 0.4rem;
        }
        .username {
            color: @text-name;
            max-width: 45%;
            min-width: 30%;
            margin-left: 1.2rem;
            .text-hidden;
            i{
                color: @themeColor;
                font-size: 2.2rem;
                margin-left: 0.3rem;
                .ps-r;
                top: -0.2rem;
            }
        }
        .description {
            color: @text-subtitle;
            display: flex;
            justify-content: flex-end;
            width: 100%;
        }
    }
    .driver-demand {
        border-bottom: 1px solid #E7E7E7;
        padding: 1rem 1rem 1rem 1.5rem;
        display: flex;
        flex-direction: column;
        font-size: 1.6rem;
        color: @text-category;
        line-height: 2.5rem;
        .icon {
            word-break: break-all;
            &:before {
                content: ' ';
                width: 1rem;
                height: 1rem;
                border-radius: 0.5rem;
                display: inline-block;
                background: @text-category;
                margin-right: 0.5rem;
            }
            &.route:before {
                background: @text-test;
            }
            &.description:before {
                background: @text-qiugou;
            }
            &.fish-name:before{
                background: @themeColor;
            }
        }
    }
    .driver-contact {
        padding: 1rem 1rem 1rem 1.5rem;
        display: flex;
        font-size: 1.6rem;
        color: @text-test;
        justify-content: space-between;
        align-items: center;
        .phone {
            padding: 0 1rem;
            border: 1px solid @text-test;
            border-radius: 0.3rem;
            line-height: 3.6rem;
            display: flex;
            align-items: center;
            &.delete-trip{
                border-color: @text-price;
                color: @text-price;
                padding: 0 2rem;
            }
            .text {
                margin-left: 0.5rem;
            }
        }
    }
    .demandinfo-right {
        .ps-a;
        top: 3rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;
        border-radius: 2.5rem;
        background: @text-test;
        .text-shadow(@text-test);
        color: @text-fff;
        font-size: 3.4rem;
        .text-center;
        line-height: 5rem;
        vertical-align: middle;
        float: right;
    }
    span.icon-right {
        display: block;
        right: 1rem;
        .ps-a;
        top: 50%;
        margin-top: -1rem;
        font-size: 1.6rem;
        color: @border-c5
    }
}
