<div class="page swipeback page-buydetail" data-page="buydetail">
    <div class="navbar">
        <div class="navbar-inner navbar-on-left">
            <div class="left"></div>
            <div class="center sliding">Yudada</div>
            <div class="right"><a href="#" class="open-panel link icon-only"><i class="icon icon-bars"></i></a></div>
        </div>
        <div class="navbar-inner navbar-on-center">
            <div class="left sliding">
                <a class="home-tabbar-logo filter-tabbar iconfont icon-back link-back">返回</a>
            </div>
            <div class="center sliding">求购详情</div>
        </div>
    </div>
    <div class="page-content">
        <div class="selldetail-info">
            <div class="first buydetail-info">
                    <div class="cat-list-title row">
                        <div class="col-60 goods-name">罗非鱼</div>
                        <div class="col-40 goods-create-time">一天前</div>
                    </div>
                    <div class="selldetail-price-info">
                        <span class="selldetail-label">求购</span>
                        <span class="selldetail-price">12元/斤</span>
                    </div>
            </div>
            <div class="row">
                <span class="col-30">规格：</span>
                <span class="col-70 selldetail-spec"></span>
            </div>
            <div class="row">
                <span class="col-30">供货地区：</span>
                <span class="col-70 selldetail-stock"></span>
            </div>
            <div class="row">
                <span class="col-30">价格：</span>
                <span class="col-70 selldetail-address"></span>
            </div>
            <div class="row">
                <span class="col-30">补充说明：</span>
                <span class="col-70 selldetail-description"></span>
            </div>
        </div>
        <!-- <div class="selldetail-cert">
            <div class="selldetail-cert-title">相关证书</div>
            <div class="selldetail-cert-list">
                <a href="" class="iconfont icon-right">
                    <span class="cert-label seedling">苗</span>
                    具备“苗种生产许可证” －黑鱼
                </a>
            </div>
        </div> -->
        <div class="selldetail-user">
            <div class="selldetail-user-title">
                联系人
                <span class="cat-user-info iconfont icon-right">查看更多信息</span>
            </div>
            <div class="row selldetail-userinfo">
                <div class="col-18"><img data-src="../img/app_icon_108.png" src="../img/app_icon_108.png" class="lazy-fadeIn lazy-loaded"></div>
                <div class="col-80">
                    <div class="cat-list-title row">
                        <div class="col-40 user-name">张先生</div>
                        <div class="user-cert iconfont icon-v">已完成个人认证</div>
                    </div>
                    <div class="selldetail-price-info row">
                        <span class="user-tell col-60">手机号：<b>18606634932</b></span>
                        <span class="user-time col-40">2小时内来过</span>
                    </div>
                </div>
                <!-- <div class="buydetail-ensure">
                    <span class="buydetail-ensure-label">保</span>
                    已加入鱼大大官网担保，交易安全有保障
                </div> -->
            </div>
        </div>
    </div>
    <div class="toolbar tabbar row selldetail-footer">
        <div class="col-40">32元/条</div>
        <div class="col-30 iconfont icon-share">电话联系</div>
        <div class="col-30 iconfont icon-share">告诉朋友</div>
    </div>
</div>
