<div class="page swipeback page-filter" data-page="filter">
    <div class="filter-header">
        <form class="searchbar index-search">
            <div class="searchbar-input filter-searchbar">
                <a class="home-tabbar-logo filter-tabbar iconfont icon-back link-back">返回</a>
                <a class="link" href="/views/search.html">
                    <input type="search" placeholder="填写品种名称，例如黑鱼" class="index-search-link">
                    <div class="home-search-mask"></div>
                </a>
            </div>
        </form>
        <div class="filter-tab row">
            <div class="filter-tab-title col-33 active">
                全部鱼种
                <b class="filter-tab-icon"></b>
                <div class="filter-all-category"></div>
            </div>
            <div class="filter-tab-title col-34 on">
                地区
                <b class="filter-tab-icon"></b>
                <div class="filter-all-category"></div>
            </div>
            <div class="filter-tab-title col-33">
                出售
                <b class="filter-tab-icon"></b>
                <div class="filter-all-category"></div>
            </div>
        </div>
    </div>
    <div class="page-content">
    </div>
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <!-- Toolbar links -->
            <a href="./views/release.html" class="link">
                <div class="iconfont icon-home"></div>
                <div>鱼大大</div>
            </a>
        </div>
    </div>
</div>
