<div data-page="home" class="page toolbar-through page-home">
    <!-- Index search link -->
    <form class="searchbar index-search">
        <div class="searchbar-input">
            <div class="home-tabbar-logo"></div>
            <a class="link" href="/views/search.html">
                <input type="search" placeholder="填写品种名称，例如黑鱼" class="index-search-link">
                <div class="home-search-mask"></div>
            </a>
        </div>
    </form>
    <!-- Scrollable page content -->
    <div class="page-content pull-to-refresh-content">
        <div class="pull-to-refresh-layer">
            <div class="preloader"></div>
            <div class="pull-to-refresh-arrow"></div>
        </div>
        <div class="row list-block media-list">
            <div class="col-50">
                <a class="list-block media-list">
                    <div class="item-content home-chushou">
                        <div class="item-media iconfont icon-buy">
                            <!-- <img src="./img/ic_home_buy.png" alt="" width="50"> -->
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row text-hidden">出售大厅</div>
                            <div class="item-subtitle">看看别人在卖什么</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-50 last-child">
                <a class="list-block media-list">
                    <div class="item-content home-qiugou">
                        <div class="item-media iconfont icon-qiugou">
                        </div>
                        <div class="item-inner">
                            <div class="item-title-row text-hidden">求购大厅</div>
                            <div class="item-subtitle">看别人想买什么</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <!-- carefully chosen Fingerling -->
        <div class="chosen-fingerling">
            <div class="home-content-title iconfont icon-edit">精选鱼种</div>
            <div class="chosen-fingerling-list">
                <div class="list-block media-list row">
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img data-src="img/ic_category_commonfish.png" src="img/app_icon_108.png" class="lazy" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">常见鱼</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="img/ic_category_goodfish.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">名优鱼</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_crabshrimp.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">螃蟹</div>
                        </div>
                    </a>
                </div>
                <div class="list-block media-list row">
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_turtle.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">龟鳖</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_seafish.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">海水鱼</div>
                        </div>
                    </a>
                    <a href="" class="home-categorys item-link item-content col-33">
                        <div class="item-media">
                            <img src="./img/ic_category_babyfish.png" width="32" alt="">
                        </div>
                        <div class="item-inner">
                            <div class="item-title">水产种苗</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- use ajax get date. -->
        <div class="ajax-content">
            <!-- home cat list -->
            <div class="home-cat-list">
                <div class="home-content-title iconfont icon-category">大家都在看</div>
                <div class="cat-list-foreach"></div>
                <div class="home-go-more"><a href="./views/filter.html" class="iconfont icon-go">查看更多鱼价</a></div>
            </div>
            <div class="home-buy-list">
                <div class="home-content-title iconfont icon-edit">最新求购信息</div>
                <div class="buy-list-foreach"></div>
                <div class="home-go-more"><a href="./views/filter.html" class="iconfont icon-go">进入求购大厅</a></div>
            </div>
        </div>
        <div class="home-loading"></div>
    </div>
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <!-- Toolbar links -->
            <a href="./views/home.html" class="link active no-animation">
                <div class="iconfont icon-active-home"></div>
                <div>鱼大大</div>
            </a>
            <a class="link edit-info no-animation">
                <div class="tab-border">
                    <div class="iconfont icon-edit"></div>
                    <div>发布信息</div>
                </div>
            </a>
            <a href="views/user.html" class="link no-animation">
                <div class="iconfont icon-user"></div>
                <div>个人中心</div>
            </a>
        </div>
    </div>
</div>
