<div class="page swipeback toolbar-through" data-page="search">
    <form class="searchbar index-search search-header">
        <div class="searchbar-input">
            <a class="iconfont icon-back back link-back">返回</a>
            <input type="search" placeholder="填写品种名称，例如黑鱼" class="index-search-link search-page-input">
            <b class="searchbar-clear iconfont icon-clear"></b>
            <span class="search-button">搜索</span>
        </div>
    </form>
    <div class="page-content">
        <div class="search-content">
        <div class="search-val">点击搜索 <span></span></div>
            <div class="search-return-list"></div>
        </div>
    </div>
    <!-- <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <a href="./views/home.html" class="link no-animation">
                <div class="iconfont icon-home"></div>
                <div>鱼大大</div>
            </a>
            <a href="./views/infomation.html" class="link edit-info no-animation">
                <div class="tab-border"> 
                    <div class="iconfont icon-edit"></div>
                    <div>发布信息</div>
                </div>
            </a>
            <a href="views/user.html" class="link active no-animation">
                <div class="iconfont icon-user"></div>
                <div>个人中心</div>
            </a>
        </div>
    </div> -->
</div>
