<div class="page swipeback" data-page="user">
    ... About page content goes here
    <div class="toolbar tabbar">
        <div class="toolbar-inner">
            <!-- Toolbar links -->
            <a href="./views/home.html" class="link no-animation">
                <div class="iconfont icon-home"></div>
                <div>鱼大大</div>
            </a>
            <a href="./views/infomation.html" class="link edit-info no-animation">
                <div class="tab-border">
                    <div class="iconfont icon-edit"></div>
                    <div>发布信息</div>
                </div>
            </a>
            <a href="views/user.html" class="link active no-animation">
                <div class="iconfont icon-active-user"></div>
                <div>个人中心</div>
            </a>
        </div>
    </div>
</div>
