.page-buydetail {
    .page-content {
        .selldetail-info {
            border-bottom: 1px solid @border-da;
            &>div {
                background: @bg-fff;
                .text-shadow(@text-fff);
                &.info-tages-list {
                    background: @bg-f7;
                    .text-shadow(@bg-f7);
                    border-bottom: 1px solid @border-da;
                }
            }
            &>.row {
                padding: 2%;
                border-top: 1px solid @border-da;
                line-height: 3rem;
                .text-hidden;
                .col-30 {
                    color: @text-category;
                    font-size: 1.6rem;
                    width: 28%;
                    display: block;
                }
                .col-70 {
                    width: 70%;
                    display: block;
                }
                .selldetail-description {
                    line-height: 1.4;
                    white-space: pre-wrap;
                    word-break: break-all;
                    padding: 0.5rem 0;
                }
            }
            .buydetail-info-title {
                padding: 1rem 2%;
                line-height: 1.4;
                font-size: 1.6rem;
                color: @text-name;
            }
            .selldetail-label {
                display: inline-block;
                height: 2rem;
                line-height: 2rem;
                padding: .1rem .8rem;
                border-radius: .3rem;
                color: @text-fff;
                font-size: 1.4rem;
                vertical-align: middle;
                background: @text-water;
                .text-shadow(@text-water);
            }
            .buy-goods-name {
                vertical-align: middle;
            }
            .buydetail-info {
                padding: 3% 2% 0;
                border-top: 1px solid @border-da;
                line-height: 1.2;
                .text-hidden;
                .buy-detail-address {
                    color: @text-category;
                    padding-top: 1rem;
                    b:before {
                        .ps-r;
                        top: -0.2rem;
                        font-size: 1.8rem;
                    }
                }
                .goods-name {
                    font-size: 2rem;
                    color: @text-name;
                }
                .goods-create-time {
                    color: @text-subtitle;
                    .text-right;
                    font-size: 1.4rem;
                    padding-top: 0.2rem;
                }
                .selldetail-price-info {
                    padding: 1rem 0;
                    font-size: 1.8rem;
                    .selldetail-price {
                        color: @text-chushou;
                    }
                }
            }
        }
        .selldetail-cert {
            margin-top: 1rem;
            background: @bg-fff;
            .text-shadow(@text-fff);
            .selldetail-cert-title {
                padding: 2%;
                line-height: 1.4;
                color: @text-subtitle;
                font-size: 1.6rem;
            }
            .selldetail-cert-list {
                a {
                    display: block;
                    padding: 2%;
                    .text-hidden;
                    line-height: 3rem;
                    height: 3rem;
                    border-top: 1px solid @border-da;
                    color: @text-name;
                    &:after {
                        float: right;
                        color: @text-subtitle;
                    }
                    span {
                        display: inline-block;
                        width: 3rem;
                        height: 3rem;
                        .text-center;
                        line-height: 3rem;
                        border: 1px solid @border-da;
                        border-radius: 0.3rem;
                        margin-right: 0.5rem;
                        font-size: 1.6rem;
                        &.seedling {
                            border-color: @themeColor;
                            color: @themeColor;
                        }
                        &.water {
                            border-color: @text-water;
                            color: @text-water;
                        }
                        &.test {
                            border-color: @text-test;
                            color: @text-test;
                        }
                        &.cert {
                            color: @text-fff;
                            border-color: @text-chushou;
                            background: @text-chushou;
                        }
                    }
                }
            }
        }
        .selldetail-user {
            margin-top: 1rem;
            background: @bg-fff;
            .text-shadow(@text-fff);
            .selldetail-user-title {
                padding: 2%;
                line-height: 1.4;
                color: @text-subtitle;
                font-size: 1.6rem;
                span {
                    float: right;
                    color: @text-subtitle;
                }
            }
            .selldetail-userinfo {
                padding: 2%;
                margin-bottom: 1rem;
                .item-inner {
                    display: -webkit-flex;
                    padding-top: 0;
                    padding-right: 0;
                    padding-bottom: 0;
                    margin-left: 1rem;
                    -webkit-box-align: center;
                    -webkit-box-pack: center;
                    &:after {
                        display: none;
                    }
                }
                .item-media {
                    padding-top: 0;
                    padding-bottom: 0;
                    img{
                        width: 5rem;
                        height: 5rem;
                    }
                }
                .col-30 {
                    width: 27%;
                    white-space: nowrap;
                    .text-hidden;
                    overflow: visible;
                    color: @text-subtitle;
                    font-size: 1.4rem;
                    min-height: 5rem;
                    line-height: 5rem;
                    text-align: right;
                    float: right;
                }
                .col-70 {
                    width: 73%;
                    vertical-align: middle;
                    height: 5rem;
                    float: left;
                    .goods-weight,
                    .goods-name,
                    .goods-price,
                    .goods-create-time,
                    .cat-list-tags {
                        padding-bottom: 0.5rem;
                    }
                    &>div{
                        height: 2.5rem;
                    }
                    .user-name {
                        color: @text-name;
                        font-size: 1.6rem;
                        line-height: 1.8rem;
                        .text-hidden;
                        i {
                            font-size: 2rem;
                            color: @text-level;
                            &:before {
                                vertical-align: top;
                            }
                        }
                    }
                    .buydetail-cert-info {
                        display: none;
                        border-top: 1px solid @border-da;
                        margin-top: 0.5rem;
                        padding-top: 0.5rem;
                        color: @text-invite-code;
                        &>span {
                            font-size: 1.2rem;
                            padding-right: 0.5rem;
                            display: none;
                            &:before {
                                font-size: 1.6rem;
                                padding-right: 0.3rem;
                            }
                        }
                        &.individual-identity {
                            &>span.individual {
                                display: inline-block;
                            }
                        }
                        &.company-identity {
                            &>span.company {
                                display: inline-block;
                            }
                        }
                    }
                    .user-time {
                        .text-right;
                        .text-hidden;
                        color: @text-subtitle;
                        width: 40%;
                    }
                    .buy-detail-auth {
                        font-size: 1.4rem;
                        .text-hidden;
                        span {
                            margin-right: 0.5rem;
                            color: @text-subtitle;
                            display: none;
                            line-height: 2.5rem;
                            &.auth-individual:before,
                            &.auth-company:before {
                                vertical-align: middle;
                                font-size: 1.2rem;
                                display: inline-block;
                                content: '实';
                                width: 1.7rem;
                                height: 1.7rem;
                                .ps-r;
                                top:-0.1rem;
                                line-height: 1.7rem;
                                background: @themeColor;
                                .text-shadow(@themeColor);
                                color: @text-fff;
                                margin-right: 0.2rem;
                                .text-center;
                            }
                            &.auth-company:before {
                                content: '企';
                            }
                            &.show{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }
    .selldetail-footer {
        // .box-shadow-top(@bg-666);
        background: @bg-fff;
        .text-shadow(@text-fff);
        line-height: 4rem;
        padding: 0.5rem;
        &.safira {
            padding: 0.5rem 1rem;
        }
        .text-center;
        color: @text-price;
        .col-40 {
            width: 40%;
            background: @themeColor;
            color: @text-fff;
            .text-shadow(@themeColor);
            height: 100%;
            border-radius: 0.3rem;
        }
        .col-30 {
            line-height: 2rem;
            height: 100%;
            width: 30%;
            font-size: 1.2rem;
            color: @text-category;
            &.icon-share {
                border-right: 1px solid @border-da;
            }
            &:before {
                display: block;
                font-size: 1.8rem;
                line-height: 2rem;
            }
            &.icon-collection-btn:before {
                font-size: 2rem;
            }
            &.icon-collection-active:before {
                color: @bg-collection;
            }
        }
        .col-60 {
            width: 60%;
            .text-hidden;
            font-size: 1.4rem;
            &:before {
                font-size: 1.8rem;
                margin-right: 0.3rem;
                vertical-align: top;
            }
            &.icon-review {
                color: @text-verify-review;
            }
            display: none;
        }
    }
}

.page-buydetail {
    .page-content>.iconfont {
        .text-center;
        display: none;
        height: 4rem;
        line-height: 4rem;
        &.icon-review {
            color: @text-review;
            background: @bg-review;
            .text-shadow(@bg-review);
            vertical-align: middle;
            &:before {
                margin-right: 0.5rem;
                font-size: 1.8rem;
                vertical-align: top;
            }
            &:after {
                margin-left: 0.5rem;
                vertical-align: top;
            }
        }
        &.icon-verify-faild {
            color: @text-verify-faild;
            background: @bg-verify-faild;
            .text-shadow(@bg-verify-faild);
            &:before {
                font-size: 1.8rem;
                margin-right: 0.5rem;
                vertical-align: top;
            }
            &:after {
                margin-left: 0.5rem;
                vertical-align: top;
            }
        }
    }
    &.active {
        .selldetail-user {
            display: block;
        }
    }
    &.review {
        .page-content>.iconfont {
            &.icon-review {
                display: block;
            }
        }
    }
    &.faild {
        .page-content>.iconfont {
            &.icon-verify-faild {
                display: block;
            }
        }
    }
    .selldetail-footer {
        .buydetail-delete-info {
            display: none;
        }
        &.delete {
            &>div {
                &.buydetail-call-phone,
                .icon-share {
                    display: none;
                }
                &.buydetail-delete-info {
                    background: @text-chushou;
                    .text-shadow(@text-chushou);
                    display: block;
                }
            }
        }
        &.review {
            &>div {
                &.col-30 {
                    display: none;
                }
                &.icon-review {
                    display: block;
                }
            }
        }
        &.verify {
            &>div {
                &.col-30 {
                    display: none;
                }
                &.icon-verify-faild {
                    display: block;
                }
            }
        }
        &.share-delete {
            .selldetail-delete-info {
                display: block;
                background: @text-chushou;
                .text-shadow(@text-chushou);
            }
            .selldetail-call-phone {
                display: none;
            }
        }
    }
}
