.filter-navbar {
    .filter-header {
        // position: absolute;
        width: 100%;
        .box-shadow-bottom(@bg-666);
        // left: 0;
        // top: 0;
        // z-index: 200;
        form {
            box-shadow: none;
        }
        .filter-tab {
            height: 2rem;
            line-height: 2rem;
            background: @bg-fff;
            height: 2rem;
            padding: 1rem 0;
            .text-shadow(@text-fff);
            overflow: hidden;
            display: block;
            .filter-tab-title {
                .text-center;
                color: @text-search;
                vertical-align: middle;
                display: block;
                float: left;
                line-height: 2rem;
                height: 2rem;
                width: 33%;
                .border-box;
                &.on {
                    width: 34%;
                    border-left: 1px solid @border-da;
                    border-right: 1px solid @border-da;
                }
                &.active {
                    color: @themeColor;
                    b {
                        .transform(rotate(180deg));
                        top: 0;
                        border-top-color: @themeColor;
                    }
                }
                b {
                    top: -0.2rem;
                    .transition(all, @appAnimateTime, @appAnimate);
                }
            }
        }
    }
}

.page-filter {
    .page-content {
        padding-top: 9.4rem;
    }
}

.winodw-mask {
    .ps-a;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 5500;
    top: -100%;
    background: @bg-black-7;
    .transition(all, @appAnimateTime, @appAnimate);
    &.on {
        top: 9.4rem;
    }
}

.page-content {}

.filter-tabs-content {
    height: 70%;
    overflow: hidden;
    background: @bg-fff;
    .text-shadow(@text-fff);
    .ps-a;
    width: 100%;
    top: 9.4rem;
    left: 0;
    z-index: 5510;
    .filter-tab-content {
        height: 100%;
        &>div {
            overflow: scroll;
            height: 100%;
            &.col-35 {
                width: 35%;
                background: @bg-category;
                .text-shadow(@bg-category);
                span {
                    display: block;
                    line-height: 2rem;
                    padding: 0.8rem 0;
                    .text-center;
                    color: @text-category;
                    &.active {
                        background: @bg-fff;
                        .text-shadow(@text-fff);
                        border-left: 3px solid @themeColor;
                        color: @themeColor;
                    }
                }
            }
            &.col-65 {
                width: 65%;
                padding: 0.8rem 2%;
                span {
                    .border-box;
                    width: 32%;
                    float: left;
                    margin-left: 2%;
                    overflow: hidden;
                    .text-center;
                    display: -webkit-box;
                    -webkit-box-align: center;
                    -webkit-box-pack: center;
                    line-height: 1;
                    height: 3.5rem;
                    border: 1px solid @border-da;
                    border-radius: 0.3rem;
                    margin-bottom: 0.5rem;
                    line-height: 1.2;
                    color: @text-category;
                    &.on {
                        margin-left: 0;
                    }
                    &.active{
                        border-color: @themeColor;
                        color: @themeColor;
                    }
                }
            }
        }
    }
}
