.filter-navbar {
    .filter-header {
        // position: absolute;
        width: 100%;
        .box-shadow-bottom(@bg-666);
        // left: 0;
        // top: 0;
        // z-index: 200;
        form {
            box-shadow: none;
        }
        .filter-tab {
            height: 2rem;
            line-height: 2rem;
            background: @bg-fff;
            height: 2rem;
            padding: 1rem 0;
            .text-shadow(@text-fff);
            overflow: hidden;
            display: block;
            .filter-tab-title {
                .text-center;
                color: @text-search;
                vertical-align: middle;
                display: block;
                float: left;
                line-height: 2rem;
                height: 2rem;
                width: 33%;
                .text-hidden;
                .border-box;
                &.on {
                    width: 34%;
                    border-left: 1px solid @border-da;
                    border-right: 1px solid @border-da;
                }
                &.active-ele {
                    color: @themeColor;
                    b {
                        .transform(rotate(180deg));
                        border-top-color: @themeColor;
                    }
                }
                b {
                    .transform(translate3d(0, -0.2rem, 0));
                    .transition(all, @appAnimateTime, @appAnimate);
                }
            }
        }
    }
}

.page-filter {
    .page-content {
        padding-top: 9.4rem;
        &.fiter-release-info {
            padding-top: 5.4rem;
        }
    }
    .toolbar {
        background: @bg-fff;
        .text-shadow(@text-fff);
        a {
            width: 60%;
            .auto;
            height: 3.5rem;
            line-height: 3.5rem;
            border: 1px solid @themeColor;
            color: @themeColor;
            border-radius: 0.3rem;
            &.filter-release-next {
                display: none;
            }
            &.filter-need-release {
                display: block;
            }
            div {
                font-size: 1.6rem;
                &:before {
                    margin-right: 0.5rem;
                    vertical-align: middle;
                }
            }
        }
    }
    &.filter-release-info {
        .toolbar {
            z-index: 5600;
            a {
                &.filter-release-next {
                    display: block;
                }
                &.filter-need-release {
                    display: none;
                }
            }
        }
    }
}

.winodw-mask {
    .ps-a;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 5500;
    .transform(translate3d(0, -100%, 0));
    opacity: 0;
    top: 0;
    background: @bg-black-7;
    .transition(all, @appAnimateTime, @appAnimate);
    &.on {
        .transform(translate3d(0, 0, 0));
        opacity: 1;
    }
}

.page-content {
    .filter-list {
        margin: 0;
        background: @bg-fff;
        .text-shadow(@text-fff);
        a {
            padding: 2%;
            border-bottom: 1px solid @border-da;
            &.cat-list-info {
                img {
                    display: block;
                    width: 100%;
                }
                .col-30 {
                    width: 30%;
                }
                .col-70 {
                    width: 67%;
                    vertical-align: middle;
                    .goods-weight,
                    .goods-name,
                    .goods-price,
                    .goods-create-time,
                    .cat-list-tags,
                    .cat-list-address {
                        .text-hidden;
                    }
                    .goods-name {
                        color: @text-name;
                        font-size: 2.0rem;
                        width: 58%;
                        .text-hidden;
                    }
                    .goods-price {
                        width: 40%;
                        color: @text-price;
                        font-size: 1.6rem;
                        .text-right;
                        .text-hidden;
                    }
                    .cat-list-text {
                        color: @text-subtitle;
                        font-size: 1.4rem;
                        .text-hidden;
                        .goods-create-time {
                            .text-right;
                            .text-hidden;
                        }
                    }
                    .cat-list-address {
                        color: @text-subtitle;
                        font-size: 1.4rem;
                        .text-hidden;
                        span {
                            padding-right: 5px;
                        }
                    }
                    .cat-list-tags {
                        padding-top: 0.5rem;
                        .text-hidden;
                        .button {
                            display: inline-block;
                            border-color: @themeColor;
                            color: @themeColor;
                            .text-shadow(@bg-v);
                            &.icon-v {
                                background: @bg-v;
                                color: @text-fff;
                                border-color: @bg-v;
                                &:before {
                                    margin-right: 0.3rem;
                                }
                            }
                        }
                    }
                }
            }
            &.buy-list-info {
                display: block;
                .buy-name {
                    color: @text-name;
                    font-size: 2.0rem;
                    .text-hidden;
                }
                .buy-price {
                    color: @text-price;
                    font-size: 1.6rem;
                    .text-right;
                    .text-hidden;
                }
                .buy-spec {
                    color: @text-name;
                    font-size: 1.4rem;
                    .text-hidden;
                    padding: 0.4rem 0;
                }
                .buy-time {
                    color: @text-subtitle;
                    font-size: 1.4rem;
                    .text-right;
                    .text-hidden;
                    padding: 0.4rem 0;
                }
                .home-buy-address {
                    color: @text-subtitle;
                    .text-hidden;
                    span {
                        margin-right: 0.8rem;
                        &:before {
                            color: @themeColor;
                            font-size: 1.6rem;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}

.filter-tabs-content {
    height: 0;
    overflow: hidden;
    width: 100%;
    background: @bg-fff;
    .text-shadow(@text-fff);
    .ps-a;
    height: 70%;
    .transform(translate3d(0, 9.4rem, 0));
    left: 0;
    top: 9.4rem;
    z-index: 5510;
    .transition(all, @appAnimateTime, @appAnimate);
    .transform(scaleY(0));
    &.on {
        .transform(scaleY(1));
    }
    &.on.active {
        top: 5.4rem;
    }
    .filter-tab-content {
        height: 100%;
        opacity: 0;
        overflow: hidden;
        .ps-a;
        width: 100%;
        .transition(all, @appAnimateTime, @appAnimate);
        transform: translate3d(0,-100%,0);
        &.active {
            transform: translate3d(0,0,0);
            opacity: 1;
        }
        &.filter-district {
            .col-65 {
                padding: 0 2%;
                span {
                    display: block;
                    width: 100%;
                    float: none;
                    height: 3.5rem;
                    line-height: 3.5rem;
                    .text-hidden;
                    border: none;
                    .text-left;
                    margin: 0;
                    border-radius: 0;
                    border-bottom: 1px solid @border-da;
                    &.active {
                        color: @themeColor;
                    }
                }
            }
        }
        &.filter-info-type {
            display: block;
            p {
                height: 3.5rem;
                line-height: 3.5rem;
                border-bottom: 1px solid @border-da;
                .text-center;
                padding: 0 3%;
                display: block;
                margin: 0;
                .ps-r;
                &:after {
                    display: none;
                    .ps-a;
                    top: 0;
                    right: 1rem;
                }
                &.active-ele {
                    color: @themeColor;
                    &:after {
                        display: inline-block;
                        color: @themeColor;
                        font-size: 1.8rem;
                    }
                }
            }
        }
        &>div {
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
            height: 100%;
            &.col-35 {
                width: 35%;
                background: @bg-category;
                .text-shadow(@bg-category);
                span {
                    display: block;
                    line-height: 2rem;
                    padding: 0.8rem 0;
                    .text-center;
                    color: @text-category;
                    &.active-ele {
                        background: @bg-fff;
                        .text-shadow(@text-fff);
                        border-left: 3px solid @themeColor;
                        color: @themeColor;
                    }
                }
            }
            &.col-65 {
                width: 65%;
                padding: 0.8rem 2%;
                span {
                    .border-box;
                    width: 32%;
                    float: left;
                    margin-left: 2%;
                    overflow: hidden;
                    .text-center;
                    display: -webkit-box;
                    -webkit-box-align: center;
                    -webkit-box-pack: center;
                    line-height: 1;
                    height: 3.5rem;
                    border: 1px solid @border-da;
                    border-radius: 0.3rem;
                    margin-bottom: 0.5rem;
                    line-height: 1.2;
                    color: @text-category;
                    &.on {
                        margin-left: 0;
                    }
                    &.first {
                        width: 100%;
                        margin-left: 0;
                    }
                    &.active-ele {
                        border-color: @themeColor;
                        color: @themeColor;
                    }
                }
            }
        }
    }
}

.infinite-scroll-preloader {
    .text-center;
    padding: 0 0.5rem;
}
