/*
  index style!
*/

.index-search {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    height: 5.4rem;
    background: none;
    &:after{
        display: none;
    }
    .searchbar-input {
        height: 100%;
        padding-left: 6.5rem;
        position: relative;
        .border-box;
        font-size: 1.6rem;
        &.filter-searchbar {
            padding-left: 5.5rem;
        }
        .home-tabbar-logo {
            width: 6rem;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            background: url('../img/logoTitle.png') center no-repeat;
            background-size: 6rem auto;
            &.filter-tabbar {
                width: 5rem;
                color: @text-fff;
                font-size: 1.6rem;
                overflow: hidden;
                vertical-align: middle;
                background: none;
                &:before {
                    display: inline-block;
                    font-size: 1.8rem;
                    width: 1.2rem;
                    padding-right: 0.5rem;
                    .text-center;
                    vertical-align: bottom;
                }
            }
        }
        a {
            display: block;
            height: 100%;
            width: 100%;
            .ps-r;
            .home-search-mask {
                .ps-a;
                width: 100%;
                height: 100%;
                z-index: 100;
                left: 0;
                top: 0;
            }
        }
        input.index-search-link {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
            background-size: 1.7rem 1.7rem;
            background-image: url('../img/ic_search.png');
        }
    }
}

.toolbar {
    height: 5rem;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    &:before {
        display: none;
    }
    .toolbar-inner {
        vertical-align: middle;
        // border-top: 1px solid @border-da;
        a {
            color: @tabbar-unselect;
            .text-center;
            div {
                font-size: 1.2rem;
                &.iconfont {
                    &:before {
                        font-size: 2.4rem;
                    }
                }
            }
            &.edit-info {
                // width: 6.4rem;
                height: 6.4rem;
                border-radius: 3.2rem;
                color: @text-fff;
                top: -1.8rem;
                // border-top: 1px solid #dadada;
                .tab-border {
                    width: 100%;
                    height: 100%;
                    background: @themeColor;
                    .box-shadow(0px,
                    -3px,
                    3px,
                    @text-fff);
                    width: 6.4rem;
                    height: 6.4rem;
                    border-radius: 3.2rem;
                    // transform: scale(0.9);
                    // -webkit-transform: scale(0.9);
                }
                .iconfont {
                    padding-top: 0.5rem;
                }
            }
            &.active {
                color: @themeColor;
            }
        }
    }
}

.page-home {
    .page-content {
        .home-content-title {
            padding:0 2%;
            color: @text-name;
            .fw-l;
            height: 3.6rem;
            line-height: 3.6rem;
            font-size: 1.6rem;
            i{
                margin-top: 0.8rem;
                margin-right: 0.5rem;
            }
        }
        & > .row {
            border-bottom: 1px solid @border-da;
            background: @bg-fff;
            .text-shadow(@text-fff);
            margin: 0 0 1rem 0;
            &.home-select-list {
                &>div{
                    height: 14rem;
                }
                a {
                    color: @text-subtitle;
                    p {
                        margin: 0;
                    }
                }
                div.col-40 {
                    width: 40%;
                    padding: 1.3rem 0;
                    border-right: 1px solid @border-da;
                    .home-chushou{
                        p{
                            font-size: 1.2rem;
                            margin-bottom: 0.2rem;
                            &.home-sell-title{
                                font-size: 1.8rem;
                                color: @text-chushou-bak;
                            }
                        }
                        img{
                            width: 50px;
                            display: block;
                            margin: 1.2rem auto 0;
                        }
                    }
                }
                div.col-60 {
                    width: 60%;
                    &>a{
                        height: 7rem;
                        display: block;
                        padding: 0.3rem 0;
                        .box-size();
                        div:after{
                            display: none;
                        }
                        &:first-child{
                            border-bottom: 1px solid @border-da;
                        }
                        .item-content{
                            padding-left: 10%;
                        }
                        div{
                            font-size: 1.2rem;
                            .item-title-row{
                                font-size: 1.8rem;
                                padding-bottom: 0.2irem;
                                &.home-qougou{
                                    color: @text-level;
                                }
                                &.home-level{
                                    color: @text-qiugou;
                                }
                            }
                            &.item-media{
                                padding-right: 15%;
                            }
                        }
                    }
                }
            }
        }
        .home-select-list {
            margin-top: 1rem;
            border-top: 1px solid @border-da;
        }
        .chosen-fingerling {
            background-color: @bg-fff;
            .text-shadow(@text-fff);
            border-bottom: 1px solid @border-da;
            .chosen-fingerling-list {
                span.home-category-hot {
                    .ps-a;
                    height: 1.4rem;
                    display: inline-block;
                    line-height: 1.4rem;
                    font-size: 1.2rem;
                    background: @bg-hot;
                    .text-shadow(@bg-hot);
                    border-radius: 0.7rem;
                    padding: 0 0.5rem;
                    right: -40%;
                    top: -0.1rem;
                    color: @text-fff;
                }
                padding: 0 2%;
                width: 96%;
                overflow: hidden;
                &>div {
                    margin: 0;
                    line-height: 5rem;
                    height: 5rem;
                }
                a {
                    padding-left: 0;
                    .item-media {}
                    .item-inner {
                        border: 0;
                        margin-left: 5px;
                        padding: 0 3px 0 0;
                        &:after {
                            height: 0;
                            display: none;
                        }
                        .item-title {
                            color: @text-category;
                            font-size: 1.6rem;
                            .fw-l;
                            background: none;
                        }
                    }
                }
            }
        }
        .home-deal-list {
            background: @bg-fff;
            margin-bottom: 1rem;
            padding: 0.5rem 2%;
            a {
                &.active-state {
                    background: none;
                }
                padding-left: 0;
                color: @text-category;
                .item-media {
                    padding: 0.3rem 1rem;
                    img {
                        display: block;
                        width: 3.2rem;
                        border: 0;
                    }
                }
                .item-inner {
                    margin: 0;
                    padding: 0 0.5rem 0 1rem;
                    border-left: 1px solid @border-da;
                    &:after {
                        display: none;
                    }
                    .item-title-row {
                        padding: 0;
                        padding-right: 1rem;
                        height: 46px;
                        overflow-y: hidden;
                        .item-title {
                            .ps-r;
                            left: 0;
                            top: 0;
                            transition: all 60s ease;
                            -webkit-animation-name: homeDealAnimation;
                            -webkit-animation-duration: 60s;
                            -webkit-animation-delay: 4s;
                            -webkit-animation-iteration-count: infinite;
                            animation-name: homeDealAnimation;
                            animation-duration: 60s;
                            animation-delay: 4s;
                            animation-iteration-count: infinite;
                            &.home-deal-info-list {
                                width: 100%;
                                height: 460px;
                                white-space: normal;
                                color: @text-category;
                                .deal-list-category {
                                    color: @text-name;
                                }
                                .deal-list-name {
                                    color: @themeColor;
                                    padding: 0 0.5rem;
                                }
                                .home-deal-info {
                                    height: 46px;
                                    display: -webkit-box;
                                    -webkit-box-align: center;
                                    font-size: 1.4rem;
                                    //-webkit-box-pack: center;
                                }
                            }
                        }
                    }
                }
            }
        }
        .ajax-content {
            display: none;
            .home-cat-list {
                background: @bg-fff;
                margin-bottom: 1rem;
                .icon-category:before {
                    border-radius: 50%;
                    font-size: 2.2rem;
                }
            }
            .home-go-more {
                padding:0.5rem 0;
                .text-center;
                a {
                    .text-center;
                    height: 2.5rem;
                    line-height: 2.5rem;
                    color: @themeColor;
                    font-size: 1.6rem;
                    display: inline-block;
                    margin: 0 auto;
                    padding: 0 1rem;
                    border: 1px solid @themeColor;
                    .text-hidden;
                    border-radius: 0.3rem;
                    &:after {
                        font-size: 1.4rem;
                        margin-left: 0.5rem;
                    }
                }
            }
        }
        .home-loading {
            width: 100%;
            min-height: 15rem;
            .text-center;
            padding-top: 1rem;
        }
    }
}

.home-buy-list {
    background: @bg-fff;
    .text-shadow(@text-fff);
}

.home-slider{
    display: none;
    .swiper-pagination span{
        display: none;
    }
    .swiper-slide {
        background: #fff;
        box-sizing: border-box;
        span {
            text-align:center;
            display:block;
            margin: 20px;
            font-size:21px;
        }
        img{
            display: block;
            width: 100%;
        }
    }
    &.swiper-container {
        min-height: 8rem;
        margin-bottom: 1rem;
    }
}
