.picker-modal.picker-invite-code{
	background: @bg-fff;
	.text-shadow(@text-fff);
	height: 28rem;
	.text-center;
	z-index: 15000;
	.picker-invite-code-img{
		margin: 1rem 0 3rem;
		background: url(../img/loading.gif) center no-repeat;
		background-size:5rem 5rem;
		img{
			height: 18rem;
			display: block;
			margin: 0 auto;
		}
		p{
			margin: 0;
			color: @text-name;
			height: 2rem;
			line-height: 2rem;
			overflow: hidden;
			font-size: 1.8rem;
		}
	}
	.close-picker-invite-code{
		line-height: 4rem;
		height: 4rem;
		font-size: 1.8rem;
		color: @text-category;
		background: @border-da;
		.text-shadow(@border-da);
	}
}